* {
  font-family: NHaasGrotesk, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
    scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0 32px;
  top: 0;
}

section {
}

#navbar {
  width: 100%;
  padding: 10px 0;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
}

#navbar {
  width: 100%;
  padding: 10px 0;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
}

.nav {
  padding: 0 10px;
}

ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Benne", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  line-height: 1;
  padding: 0;
  border: none;
  height: 1em;
  box-sizing: content-box;
}

h1 {
  font-size: 72pt;
}

h2 {
  font-size: 22pt;
  font-weight: bold;
  font-weight: 500;
}

h3 {
  font-size: 16pt;
  font-weight: 500;
}

p {
  font-size: 12pt;
  margin: 0 0 16px 0;
}

a {
  color: #227b4f;
  text-decoration: none;
}

a::after {
  color: #10472c;
}

#home {
  padding: 64px 0 256px 0;
}

#projects {
  padding-top: 64px;
}

.projectDiv {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.date {
  color: rgb(141, 141, 141);
}

.imageDiv {
  display: flex;
  height: 192px;
  margin: 32px 0;
}

img {
  object-fit: contain;
  height: 100%;
  padding-right: 16px;
}
