* {
  font-family:
    NHaasGrotesk,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0 32px;
  top: 0;
}

section {
}

#navbar {
  width: 100%;
  padding: 10px 0;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#navbar {
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navlist {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 0;
}

.nav {
  padding: 0 10px;
}

ul {
  list-style-type: "-   ";
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Benne", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  line-height: 1;
  padding: 0;
  border: none;
  height: 1em;
  box-sizing: content-box;
}

h1 {
  font-size: 72pt;
  height: fit-content;
}

h2 {
  font-size: 22pt;
  font-weight: bold;
  font-weight: 500;
  height: fit-content;
}

h3 {
  font-size: 16pt;
  font-weight: 500;
  height: fit-content;
}

p {
  font-size: 12pt;
  margin: 0 0 16px 0;
  height: fit-content;
  max-width: 90%;
}

a {
  color: #227b4f;
  text-decoration: none;
}

a::after {
  color: #10472c;
}

#home {
  padding: 64px 0 256px 0;
}

#experience,
#projects {
  padding-top: 64px;
}

.workListItem {
  margin-bottom: 10px;
}

.projectDiv {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.date {
  color: rgb(141, 141, 141);
}

.imageDiv {
  display: flex;
  height: fit-content;
  margin: 32px 0;
  flex-wrap: wrap;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #000000;
}

img {
  object-fit: contain;
  height: 192px;
  padding-right: 16px;
  padding-bottom: 16px;
}

#contact {
  padding-top: 64px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#contactdiv {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex: 1;
  padding: 20px 0;
  gap: 20px;
}

#contactlinks {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
}

#imagediv {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profilepic {
  height: 520px;
  /* margin-right: -32px; */
  padding: 0;
}

@media only screen and (max-width: 600px) {
  #contactdiv {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex: 1;
    width: 100%;
  }

  #imagediv {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
  }

  h1 {
    padding-top: 64px;
  }
}
